@charset "utf-8";
body,h1,h2,h3,ul,li,p {margin: 0;padding: 0;font-size: 12px;font-family: 微软雅黑,arial;color:#555}
body {background:#f9f9f9;border:0;}
img {border: 0;}
ul li {list-style: none;}
a {color: #333;font-size: 12px;text-decoration: none;}
a:hover {color: #f60;}

#header{position:absolute;top:0;left:0px;width:100%;height:59px;border-bottom:1px solid #d9d9d9;background:#e5e5e5 url(../image/bg.png);z-index:2;}
#header div.logo{position:absolute;top:0;left:0px;width:400px;height:59px;z-index:1;padding-left:300px;line-height:60px;color:#fff;font-size:24px;letter-spacing:5px;text-shadow:1px 1px 0 rgba(71,141,190,.6),2px 2px 2px rgba(29,85,124,.6);}
#header a.lefthidden{position:absolute;top:0;left:250px;width:30px;height:59px;z-index:2;line-height:60px;color:#fff;text-align:center;}
#header a.lefthidden i{line-height:60px;}
#header a.lefthidden:HOVER{background:#a1db22;color:#a1db22;background:rgba(161,219,34,0.2);}

#header div.topMenu{width:auto;height:59px;margin-left:400px;text-align:right;padding-right:10px;}
#header div.topMenu div.mymenu{display:inline-block;height:59px;line-height:60px;color:#fff;padding:0 5px 0 3px;margin-right:3px;font-size:12px;cursor:pointer;}
#header div.topMenu div.mymenu i{padding:0px 3px;}
#header div.topMenu div.mymenu:HOVER{color:#a1db22;background:rgba(255,255,255,0.1);height:30px;line-height:30px;}


#menu{position:absolute;top:60px;left:0;width:280px;height:auto;background:#ededed;border-right:1px solid #d9d9d9;overflow-y:auto;}

#index_my{position:absolute;top:45px;right:10px;width:350px;z-index:999;display:none;cursor:default;}
#index_my div.myup{position:absolute;top:0px;right:105px;display:block;height:17px;width:20px;background:url(../image/myup.png) no-repeat 0 7px;z-index:2;}
#index_my div.myinfo{padding:10px;position:relative;z-index:1;background:#fff;margin-top:16px;width:330px;border:1px solid #dcdcdc; -moz-border-radius:10px;-webkit-border-radius:8px;border-radius:8px; -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);-moz-box-shadow: 0 0 8px rgba(0,0,0,0.3);box-shadow: 0 0 8px rgba(0,0,0,0.3);}

#index_my div.myinfo img {position:absolute;top:10px;left:10px;display:block;width:120px;height:150px;border:1px solid #ccc;}
#index_my div.myinfo ul {display:block;width:auto;margin-left:130px;text-align:left;}
#index_my div.myinfo ul li {height:30px;line-height:30px;border-bottom:1px solid #f4f4f4;font-size:14px;}
#index_my div.myinfo ul li a{display:inline-block;font-size:14px;padding:0 5px;}

#content{margin:70px 15px 15px 295px;}
#content table.table-list{border-collapse: collapse;border:none;}
#content table.table-list thead{background:#f4f4f4;}
#content table.table-list thead th{border:1px solid #ddd;padding:10px 5px;}
#content table.table-list tbody tr:nth-of-type(odd){background:#fff;}/*奇数行变色*/
#content table.table-list tbody tr:nth-of-type(even){background:#f9f9f9;}/*偶数行*/
#content table.list_table-tbl tbody tr:nth-of-type(odd){background:#e6f0f5;}/*奇数行变色*/
#content table.list_table-tbl tbody tr:nth-of-type(even){background:#f8f8f8;}/*偶数行*/
#content table.list_table-tbl tbody tr:hover{background:#eff9db;}
#content table.table-list tbody tr td{border:1px solid #ddd;padding:5px;}
#content table.table-list tbody tr:hover{background:#eff9db;}
#content table.table-list tbody tr:hover td{color:#000;}
#content table.table-list tbody tr.catBgrow_a{background:#fff;}
#content table.table-list tbody tr.catBgrow_b{background:#f9f9f9;}
#content table.table-list tbody tr.catBgrow_a:hover,#content table.table-list tbody tr.catBgrow_b:hover{background:#eff9db;}
#content table.table-list tfoot tr td{border:1px solid #ddd;padding:5px;}

.table{border-collapse: collapse;border:none;}
.table td,.table th{border:1px solid #ddd;padding:5px;}
.table tr:HOVER{background-color:#f4f4f4;}

#content ul.edit{position:relative; padding:20px 0;}
#content ul.edit li{padding:8px 20px 8px 155px;position:relative;min-height:30px;line-height:30px;}
#content ul.edit li:hover{background:#efefef;}
#content ul.edit li div.labelright{display:inline;}
#content ul.edit li label.label{position:absolute;top:0;left:10px; display:inline-block;font-size:14px;line-height:46px;}
#content ul.edit li label span{display:inline-block;width:10px;color:red;font-family:宋体;}
#content ul.edit li input.inputxt,#content ul.edit li select{border:1px solid #ccc;height:26px;width:200px;}
#content ul.edit li textarea.inputxt{border:1px solid #ccc;height:70px;width:250px;}
#content ul.edit li.userPhoto{position:absolute; left:400px; height: 160px; width: 140px;}
#content ul.edit li.userPhoto:hover{background:none;}
#content ul.edit li img{height: 160px; width: 140px;}
#content ul.edit li.icon{position:absolute;right:20px;height:180px;width:180px;border:5px solid #d9d9d9;background:#fff;text-align:center;padding:0;cursor:pointer;}
#content ul.edit li.icon:HOVER{background:#f90;color:#000;}
#content ul.edit li.icon img{height:180px;width:180px;}
#content ul.edit li.icon #icon{display:none;}
#content ul.edit li.noHover:hover{background:none;}
#content ul.edit li.footerNav{border-top:1px solid #ddd;margin-top:20px;padding:15px 20px;}
#content ul.edit li.footerNav:hover{background:none;}
#content ul.edit li.footerNav button{width:100px;height:30px;margin-right:10px;background:#f4f4f4;color:#000;line-height:28px;font-size:14px;border:1px solid #dcdcdc; -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
#content ul.edit li.footerNav button.btn-primary{background:#afcf69;border-color:#617e22;font-weight:bold;}
#content ul.edit li.footerNav button:hover {background:#617e22;border-color:#374616;color:#fff;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);box-shadow: 0 1px 1px rgba(0,0,0,0.2);}


.input-text-seq{width:24px;text-align:center;}

.tfoot {position:relative;height:34px;}
.page {position:absolute;top:8px;right:10px;}
.page a,.page span {display:inline-block;font-size:14px; height:26px; min-width:26px; line-height:26px; background:#f4f4f4; border:1px solid #ddd; text-align:center; color:#666; margin-left:3px; padding:0; border-radius:13px;text-align:center;}
.page a.fa,.page span.fa {font-size:20px;line-height:24px;text-align:center;}
.page span.nowPage,.page a:hover  {background:#afcf69; border-color:#617e22; color:#617e22;text-shadow: none;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);box-shadow: 0 1px 1px rgba(0,0,0,0.2);}

.operateList{}
.operateList ul {display:inline-block;}
.operateList ul li.operate{position:relative;display:inline-block;margin:0;font-weight:normal;padding:2px 5px;height:16px;line-height:16px;font-size:12px;cursor:pointer; }
.operateList ul li.operate ul{display:none;position:absolute;top:21px;left:0;width:250px;background:#f4f4f4;border:1px solid #dcdcdc;padding:10px;cursor:default;}
.operateList ul li.operate ul li{height:28px;line-height:28px;border-bottom:1px solid #dcdcdc;}

.box-title {height:45px;width:100%;border-bottom:1px solid #e8e8e8;position:relative;}
.box-title h3{display:inline-block;height:45px;line-height:45px;font-size:20px;font-weight:normal;color:#333;}
.box-title h3 a{color:#666;border:1px solid #f9f9f9;font-size:16px;font-weight:normal;padding:5px 8px 5px 0;}
.box-title h3 a:hover{color:#000;background:#afcf69;border:1px solid #617e22;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);box-shadow: 0 1px 1px rgba(0,0,0,0.2);}
.box-title h3 i{padding:0 8px;}
.box-title h3 i.fa-chevron-right{color:#ccc;font-size:12px;padding:0;}

a.btn,li.btn {position:absolute;top:-5px;right:0;display:inline-block;margin-top:12px;padding:0 15px;background:#f4f4f4;color:#000;height:26px;line-height:26px;font-size:14px;border:1px solid #dcdcdc;font-weight:bold; -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
a.btn:hover,li.btn:hover {text-shadow: none;background:#afcf69;border-color:#617e22;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);box-shadow: 0 1px 1px rgba(0,0,0,0.2);}
a.btn i,li.btn i {padding-right:8px;}
a.qh-on{right:120px;background:#e8f8c3;}
a.qh-off{right:120px;background:#fbcab7;}

/*==========以下Validform开始===========*/
.Validform_checktip{margin-left:8px;line-height:20px;height:20px;overflow:hidden;color:#999;font-size:12px;}
.Validform_right{color:#71b83d;padding-left:20px;background:url(img/right.png) no-repeat left center;}
.Validform_wrong{color:red;padding-left:20px;white-space:nowrap;background:url(img/error.png) no-repeat left center;}
.Validform_loading{padding-left:20px;background:url(img/onLoad.gif) no-repeat left center;}
.Validform_error{background-color:#ffe7e7;}
.passwordStrength{display:inline-block;}
.passwordStrength b{font-weight:normal;}
.passwordStrength b,.passwordStrength span{display:inline-block;vertical-align:middle;line-height:16px;line-height:18px\9;height:16px;}
.passwordStrength span{width:45px;text-align:center;background-color:#d0d0d0;border-right:1px solid #fff;}
.passwordStrength .last{border-right:none;}
.passwordStrength .bgStrength{color:#fff;background-color:#71b83d;}
/*==========Validform结束===========*/

/*==========tab开始===========*/
.group::after, .tabBlock-tabs::after {clear: both;content: "";display: table;}
.unstyledList, .tabBlock-tabs {list-style: none;margin: 0;padding: 0;}
.tabBlock {margin:0;position:relative;}
.tabBlock-tab {position:relative;background-color: white;border-color: #d8d8d8;border-left-style: solid;border-top: solid;border-width: 1px;color: #d8d8d8;cursor: pointer;display: inline-block;float: left;padding: 0.625rem 1.25rem;-webkit-transition: 0.1s ease-in-out;transition: 0.1s ease-in-out;}
.tabBlock-tab:last-of-type {border-right-style: solid;}
.tabBlock-tab::before, .tabBlock-tab::after {content: "";display: block;height: 4px;position: absolute;-webkit-transition: 0.1s ease-in-out;transition: 0.1s ease-in-out;}
.tabBlock-tab::before {background-color: #d8d8d8;left: -1px;right: -1px;top: -1px;}
.tabBlock-tab::after {background-color: transparent;bottom: -1px;left: 0;right: 0;}
.tabBlock-tab.is-active {position: relative;color: #496114;}
.tabBlock-tab.is-active::before {background-color: #759a23;}
.tabBlock-tab.is-active::after {background-color: white;}
.tabBlock-content {border: 1px solid #d8d8d8;padding:0;background-color:#fff;}

.tabDivHide{}
.tabBlock-pane > :last-child {margin-bottom: 0;}


#content ul.edit li.thumblist:hover{background:none;}

.tabBlock-pane p.thumb{float:left;position:relative;display:block;width:200px;height:150px;padding:0;margin:5px;border:1px solid #d9d9d9;text-align:center;}
.tabBlock-pane p.upthiumb{cursor: pointer;}
.tabBlock-pane p.upthiumb:HOVER{background:#F90;}
#content ul.edit li div.tabBlock-pane p.thumb img{width:200px;height:150px;}
.tabBlock-pane p.thumb i{width:30px;height:30px;position:absolute;top:5px;right:0; cursor: pointer;}
.tabBlock-pane p.thumb i:HOVER{color:#f00;}

/* #.tabBlock-pane div.tabBlock-pane-li{float:left;width:300px;height:45px;line-height:46px;} */
/* .tabBlock-pane div.tabBlock-pane-li input{width:50px;} */
.tabBlock i.addsubTab{position:absolute;top:4px;color:#ccc;width:22px;height:22px;line-height:22px;text-align:center;cursor: pointer;}
.tabBlock i.addsubTab:HOVER{color:#f00;}
.tabBlock i.fa-plus-circle:HOVER,.tabBlock i.fa-gear:HOVER{color:#759a23;}
.tabBlock i.fa-minus-circle{right:27px}
.tabBlock i.fa-plus-circle{right:0px}
.tabBlock i.fa-gear{right:0}

.tabBlock-pane ul.vproSpecification{}
.tabBlock-pane ul.vproSpecification li{border-bottom:1px solid #d9d9d9;}
.tabBlock-pane ul.vproSpecification li.title{height:30px;line-height:30px;}
.tabBlock-pane ul.vproSpecification li input{width:50px;margin-right:10px;}
.tabBlock-pane ul.vproSpecification li input.GGseq{width:26px;}
.tabBlock-pane ul.vproSpecification li input.GGName{width:120px;}
.tabBlock-pane ul.vproSpecification li input.GGCode{width:120px;}
.tabBlock-pane ul.vproSpecification li.title {background-color:#f1f1f1;}
.tabBlock-pane ul.vproSpecification li label.add input{width:auto;margin-right:5px;}
.tabBlock-pane ul.vproSpecification li.title p a.add,label.add{border:1px solid #617e22;background:#afcf69;padding:5px 10px;margin-right:10px;}
.tabBlock-pane ul.vproSpecification li.title p a.add:HOVER,label.add:HOVER{background:#617e22;border-color:#374616;color:#fff;}
/*==========tab结束===========*/


.btn_mqificon,.btn_mqifupload{background:#00b7eb;color:#fff;font-weight:bold;padding:8px 10px;}
.btn_mqificon:HOVER,.btn_mqifupload:HOVER{background:#00a2d1;color:#fff;}

.btn_mqif_shopupload{font-weight:bold;padding:0px;}
.btn_mqif_shopupload:HOVER{background:#00a2d1;color:#fff;}

.ico_center{width:652px;height:302px;overflow:hidden;}
.ico_center .div_nav {height:30px;background-color:#ccc;padding:0;}
.ico_center .div_nav ul {padding:0;}
.ico_center .div_nav ul li {border-bottom:1px solid #ccc;width:216px;height:29px;float:left;text-align:center;margin-right:1px;background-color:#ebebeb;line-height:30px;}
.ico_center .div_nav ul li.right{margin-right:0;width:218px;}
.ico_center .div_nav ul li a {color:#666;font-size:1.2em;display:block;width:100%;height:29px;}
.ico_center .div_nav ul li.on{background-color:#fff;border-bottom:1px solid #fff;}
.ico_center .div_nav ul li.on a {color:#f90}
.ico_center .cssico,.ico_center .pngico,.ico_center .upico {padding:10px;width:634px;height:252px;}
.ico_center .upico{text-align: center;}
.ico_center .upico label{display:block;text-align: center;width:180px;height:40px;line-height:40px;margin:10px 0 0 225px;cursor: pointer;background:#00b7eb;color:#fff;font-size:16px;font-weight:bold;}
.ico_center .upico label:HOVER{background:#00a2d1;}
.ico_center .upico img{width:100px;height:100px;}

.cssico, .pngico{width:100%;height:202px;overflow-y:auto;overflow-x:hidden;word-break:break-all;}
.cssico .mqif-ico-div, .pngico .mqif-ico-div {display:block;width:45px;height:45px;float:left;border:3px solid #efefef;margin:3px;line-height:45px;text-align:center;cursor:pointer;}
.cssico .mqif-ico-div i{line-height:45px;text-align:center;}
.pngico .mqif-ico-div img{width:45px;height:45px;}
.cssico .on, .pngico .on {border-color:#f00;}

.queuelist,.queuelist-t {float:left;padding:0;width:1%;list-style-type:none;margin:0;min-height:1px;}
.queuelist li {height:35px; border:solid 1px #ccc; border-top:0;position: relative;cursor:pointer;margin:0 5px 0 5px;padding-left:10px;-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.2);-moz-box-shadow: 0 0 8px rgba(0,0,0,0.2);box-shadow: 0 0 8px rgba(0,0,0,0.2);}
.queuelist li:nth-of-type(odd) {background: #f8f8f8; }
.queuelist li:nth-of-type(even) {background: #eef5f8; }
.queuelist li:hover{background:#eff9db;}
.queuelist li p {font-size:1.2em;line-height:35px;margin:0px;color:#000;}
.queuelist li a.delete { display: block; color: #f00; background: rgba(255, 0, 0, 0.05);width: 35px; height: 35px;top: 0; right: 0; position: absolute; text-align: center; line-height: 35px; text-decoration:none;font-size:24px;}
.queuelist li a.delete:hover {background:#f00;color:#fff;}
.placeHolder { background-color:white !important; border:dashed 1px gray !important;}

.queuelist-t li{line-height:40px;margin:10px 5px 0 5px;font-size:1.4em;background-color:#c4d893;text-align:center;color:#000;border:solid 1px #bbb;-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.2);-moz-box-shadow: 0 0 8px rgba(0,0,0,0.2);box-shadow: 0 0 8px rgba(0,0,0,0.2);}
.queuelist-y li{background-color:#666;}
#quhistory li{}
#quhistory li a.delete{display:none;}
#quhistory li {background:#eee; }
#quhistory li p{color:#bbb; }

.usercomm td{color:red;}
.commarea{width: 68%;height: 80px;}
.extinputtxt{width: 204px;height: 80px;}

#prolabel label {display:inline;padding:5px 20px 5px 8px;position:relative;background:#F90;color:#fff;border:1px solid #333;}
#prolabel label a{ position:absolute; top:2px; right:2px;display:block;width:10px;height:10px;font-size:8px;line-height:10px;color:#f00;text-align:center;}

.rightDiv {margin-left:150px;}
.rightDiv label{margin:10px 5px 10px 0px;  font-size: 14px;height: 100%;}

.warnTxt{margin:20px 0 0 10px;font-size:20px;color:red;}
.warnTxt p{font-size:14px;color:red;}


/*充值页面*/
.recharge {position:relative;}
.recharge ul{background:#fff;padding:0 10px;border-bottom:1px solid #e4e4e8;}
.recharge ul li {position:relative;border-bottom:1px solid #f1f1f1;color:#888;font-size:1em;line-height:40px;}
.recharge ul li.noline{border-bottom:0;}
.recharge ul li.tip{font-size:0.8em;color:#000;}
.recharge ul li a{display:block;width:auto;height:40px;line-height:40px;color:#666;font-size:1em;}
.recharge ul li em{position:absolute;top:50%;right:10px;width:7px;height:12px;margin-top:-6px;background:url("../image/right_jt.png");background-size:7px 12px;}
.recharge ul li b{font-style:normal;color:#e83b0c;font-weight: normal;}
.recharge ul li u{font-style:normal;text-decoration:none;;font-size:1em;font-weight: normal;}
.recharge ul li p{width:100px;height:30px;}
.recharge ul li p i{width:98px;height:28px;font-style:normal;}
.recharge ul li p.recharge_input{width:216px;height:30px;border:0px;}
.recharge ul li p.recharge_input input{width:214px;height:28px;text-align:center;line-height:28px;}
.recharge ul li p{border:1px solid #ddd;display:inline-block;text-align:center;margin-right:10px;}
.recharge ul li p i{border:1px solid #fff;display:inline-block;text-align:center;line-height:28px;font-size:1em;}
.recharge ul li p.on{border:1px solid #f86c41;}
.recharge ul li p.on i,.recharge ul li p.on input{border:1px solid #f86c41;color:#e83b0c;background:url("../image/radio_cur.gif") no-repeat 100% 100%;}
.recharge ul li p.rechargeSub{width:90%;height:40px;margin:10px;background:#f86c41;border:0;color:#fff;}
.recharge ul li.userphoto{height:80px;line-height:80px;}
.recharge ul li.userphoto b {top:20px;}
.recharge ul li.userphoto b img{width:60px;height:60px;}
.recharge .rechargeline{height:15px;border-bottom:1px solid #eaeaef;border-top:1px solid #eaeaef;}

/*优惠券选择列表*/
.couponSelectlist{width:350px;min-width:240px;margin-bottom:10px;}
.couponSelectlist ul{padding:0 5px;}
.couponSelectlist ul li{border:4px solid #eee;position:relative;background:#f5f5f5;position:relative;height:60px;padding:10px 10px 0 10px;margin-top:10px;}
.couponSelectlist ul li.on{border-color:#f00;background:#f90;}
.couponSelectlist ul li.expired{background:#ccc url("../image/coupon_left.png") repeat-y 0;}
.couponSelectlist ul li p {color:#666;}
.couponSelectlist ul li.on p {color:#000;}
.couponSelectlist ul li p.number {position:absolute;height:20px;top:-24px;left:3px;color:#333;font-size:0.8em;}
.couponSelectlist ul li p.mj{position:absolute;top:3px;left:10px;font-size:0.8em;}
.couponSelectlist ul li p.mj b {font-size:1em;}
.couponSelectlist ul li p.tj{position:absolute;top:23px;left:10px;font-size:0.8em;}
.couponSelectlist ul li p.tj b {background:#fff;color:#f90;padding:0 2px;margin-right:4px;}
.couponSelectlist ul li.expired p.tj b {color:#ccc;}
.couponSelectlist ul li p.date{position:absolute;top:43px;left:10px;font-size:0.8em;}
.couponSelectlist ul li img.expiredicon{position:absolute;top:0;right:0;}
#couponid,.hidden{display:none;}

/***分隔条***/
hr.splitline{clear:both;float:none;width:auto; min-height:0;padding:0;border-top: 1px solid #ddd;}

.sepcwidth{ width: 65px; }
.sepcwidth_enable{ width: 65px; background: #e8e8e8}