@charset "utf-8";
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul { margin: 0; padding: 0}
body,button,input,select,table,textarea { line-height: 1.25em}
body {font-size:.7rem;font-family: 'microsoft yahei',Verdana,Arial,Helvetica;color: #0F0F0F; -webkit-text-size-adjust:none;}
fieldset,img { border: 0;}
ol,ul {list-style: none}
address,em {font-style: normal}
a {color: #000;text-decoration: none;outline:none}
input,button,select{outline:none;border:none;-webkit-appearance: none;}
table {border-collapse: collapse}
html {
    font-size : 20px;
}
.mT5{margin-top:0.25rem}
.mT10{margin-top:0.5rem}
.mT20{margin-top:1rem}
.mT30{margin-top:1.5rem}
.mT60{margin-top:3rem}
.mL5{margin-left:0.25rem}
.mL10{margin-left:0.5rem}
.mL15{margin-left:0.75rem}
.mL20{margin-left:1rem}
.mL25{margin-left:1.25rem}
.mL30{margin-left:1.5rem}
.mR5{margin-right: 0.25rem;}
.mR10{margin-right: 0.5rem;}
.mR15{margin-right: 0.75rem;}
.mR20{margin-right: 1rem;}
.mR25{margin-right: 1.25rem;}
.mR30{margin-right: 1.5rem;}
.pa{position: absolute;}
.pr{position: relative;}
.fs12{font-size:0.6rem}
.fs15{font-size:0.75rem}
.fs16{font-size:.8rem}
.fs20{font-size:1rem}
.fs36{font-size:1.8rem}
.fw-b{font-weight:bold}
.hide{display:none}
.txtCenter{text-align: center;}
.txtLeft{text-align: left;}
.txtRight{text-align: right;}
.over-hidden{overflow: hidden;}
a.aBtn{display:block;width:100%;height:100%;color:#fff;text-align:center;}
.bgColor-fff{background: #fff;}
.floatR{float:right}
.floatL{float:left}
.displayBlok{display: block;}
.bodyBottomBox{padding-bottom: 3.1rem;}
.color999{color:#999}
.color666{color:#666}
.colorGreen{color:#51d347}
.wrap{min-width:16rem;max-width:32rem;margin:0px auto;position:relative}
.btnPress:active{opacity: 0.9;}
.imgVerMid{vertical-align:middle}

html,body{height:100%;width:100%}
.ticket{display: block;width: 100%;}
.txmBox{width:10rem;height:5.75rem;position: absolute;top:9.25rem;left:50%;margin-left:-5rem;}
.txmBox .btn01{width:6.25rem;margin:0.4rem auto 0rem;}
.txmBox .btn01 img{display: block;width:100%}
.txmBox .txm{width:100%;height:3.8rem;margin:0.8rem auto 0rem;overflow: hidden;}
.txmBox .txm > img{display: block;width:100%;}
.mainBtn{width:6rem;height:2rem;border:1px solid #000;border-radius:4px;margin:10rem auto 0rem;}
.mainBtn > a{width:100%;height:100%;color:#000000;text-align: center;line-height: 2rem;display: block}
.tips{width:5.25rem;position: absolute;top:4.5rem;left:50%;margin-left:-2.625rem}
.tips > img{display: block;width:100%}
.btn02{width:6rem;height:2rem;border-radius:4px;position: absolute;top:12rem;left:50%;margin-left:-3rem;background: #00a63c;}
.btn02 > a{width:100%;height:100%;color:#FFFFFF;text-align: center;line-height: 2rem;display: block}
